@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #4f46e5;
  --primary-hover: #4338ca;
  --danger-color: #dc2626;
  --danger-hover: #b91c1c;
  --background-color: #000;
  --card-background: #ffffff;
  --border-color: #d1d5db;
  --text-dark: #1f2937;
  --text-light: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--text-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1200px;
  background-color: var(--card-background);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow-color);
  padding: 2rem;
}

h2, h3 {
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 1rem;
  text-align: center;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

input, select {
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: #f9fafb;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus, select:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.3);
  outline: none;
}

button {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  transform: translateY(-2px);
}

button:focus {
  outline: 3px solid var(--primary-color);
}

button.bg-blue-500 {
  background-color: var(--primary-color);
  color: var(--text-light);
}

button.bg-blue-500:hover {
  background-color: var(--primary-hover);
}

button.bg-green-500 {
  background-color: #16a34a;
  color: var(--text-light);
}

button.bg-green-500:hover {
  background-color: #15803d;
}

button.bg-red-500 {
  background-color: var(--danger-color);
  color: var(--text-light);
}

button.bg-red-500:hover {
  background-color: var(--danger-hover);
}

button.bg-gray-500 {
  background-color: #6b7280;
  color: var(--text-light);
}

button.bg-gray-500:hover {
  background-color: #4b5563;
}

.table-container {
  overflow-x: auto;
  width: 100%;
}

.table-produtos {
  border-collapse: collapse;
  margin-top: 1.5rem;
  box-shadow: 0 1px 2px var(--shadow-color);
}

thead {
  background-color: #e5e7eb;
}

th, td {
  padding: 0.75rem 1rem;
  text-align: center;
  border: 1px solid var(--border-color);
}

th {
  font-weight: 600;
  color: var(--text-dark);
  justify-items: center;
}

th:first-child, td:first-child {
  width: 5%; /* Checkbox */
}

th:nth-child(2), td:nth-child(2) {
  width: 20%; /* Nome */
}

th:nth-child(3), td:nth-child(3) {
  width: 15%; /* Preço */
}

th:nth-child(4), td:nth-child(4) {
  width: 15%; /* Quantidade */
}

th:nth-child(5), td:nth-child(5) {
  width: 15%; /* Marca */
}

th:nth-child(6), td:nth-child(6) {
  width: 15%; /* Categoria */
}

th:last-child, td:last-child {
  width: 15%; /* Ações */
}

.card {
  background-color: var(--card-background);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--shadow-color);
  padding: 1.5rem;
}

@media (max-width: 1024px) {
  .container {
    padding: 1.5rem;
  }

  form {
    grid-template-columns: 1fr;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  .search-input {
    width: 90% !important;
  }

  table {
    width: 50vh;
    display: grid;
  }

  table th, table td {
    padding: 0.5rem;
    font-size: 0.875rem;
  }

  button {
    font-size: 0.875rem;
  }
}

.action-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  gap: 1rem;
}

.add-product-btn {
  background-color: #4f46e5;
  color: #fff;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-product-btn:hover {
  background-color: #4338ca;
}

.search-bar {
  position: relative;
  flex-grow: 1;
}

.search-input {
  width: 95%;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 1rem;
}

.search-input:focus {
  border-color: #4f46e5;
  outline: none;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  color: #6b7280;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.trash-icon {
  height: 20px;
  width: 20px;
  color: red;
}

.icon-button:hover .trash-icon {
  color: darkred;
}

.add-produto:hover {
  background-color: #15803d;
}

.add-produto {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #16a34a;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.plus-icon {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
}

.upload-icon {
  width: 20px;
  height: 20px;
}

.back-arrow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: blue;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.info-icon, .back-arrow {
  background-color: transparent;
}

.info-icon {
  display: flex; /* Torna o contêiner flexível */
  align-items: center; /* Alinha o texto e o ícone verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  gap: 0.5rem; /* Adiciona espaçamento entre o texto e o ícone */
  color: #4238b6; /* Define a cor do texto e do ícone */
  padding: 0.5rem 1rem; /* Ajusta o preenchimento interno do botão */
  border: none; /* Remove a borda padrão */
  border-radius: 0.375rem; /* Arredonda os cantos */
  cursor: pointer; /* Adiciona o cursor de ponteiro */
  font-size: 1rem; /* Define o tamanho do texto */
  transition: transform 0.2s ease; /* Adiciona uma transição suave */
}

.info-icon:hover {
  transform: scale(1.05); /* Cria um leve efeito de zoom ao passar o mouse */
}

.info-icon svg {
  width: 1.8rem; /* Largura do ícone */
  height: 1.8rem; /* Altura do ícone */
  fill: currentColor; /* Faz o ícone herdar a cor do texto */
}

.spinner {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid transparent;
  border-top-color: #3b82f6;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.button-edit-group {
  gap: 0.3rem;
  margin-top: 10px;
  display: flex;
}
